#c2d {
    width: min(100vw, calc(100vh * 16/9));
    position: absolute;
    image-rendering: pixelated; /* You definitely want this if you are doing pixel art */
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
